ENV='development'
DATABASE_URL='file:./dev.db'
RANDOM_ENCOUNTER_CHANCE='0.1'
GROK_API_KEY=''
OPENAI_API_KEY=''
IMAGE_REPLIES_ENABLED='false'
IMAGE_REPLY_CHANCE='0.15'
IMAGE_GENERATION_MODEL='dall-e-3'
IMAGE_API_BASE_URL=''
